@using PlusMinus.Core.Models.Enumerations
@using PlusMinus.ViewModels
@model PlusMinus.ViewModels.FrameViewModel

@{
    ViewData["Title"] = "Редагування оправи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Оновити оправу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFrame">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Назва:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Виробник:</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Колір:</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form" class="control-label">Форма оправи:</label>
                @Html.DropDownListFor(m => m.Form, new SelectList(Enum.GetValues(typeof(FrameForm))), "Виберіть форму оправи: ")
                <span asp-validation-for="Form" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label">Матеріал оправи:</label>
                @Html.DropDownListFor(m => m.Material, new SelectList(Enum.GetValues(typeof(MaterialViewModel))), "Виберіть матеріал: ")
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Вартість:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Кількість на складі:</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
