@model PlusMinus.ViewModels.LensesViewModel

@{
    ViewData["Title"] = "Створення лінз";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Створити лінзи</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLenses">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Назва лінз:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Виробник:</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dioptre" class="control-label"></label>
                <input asp-for="Dioptre" class="form-control" />
                <span asp-validation-for="Dioptre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDateValue" class="control-label">Строк годності:</label>
                <input asp-for="ExpirationDateValue" class="form-control" />
                <p class="control-label">днів</p>
                <span asp-validation-for="ExpirationDateValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseCurve" class="control-label">Базова кривизна:</label>
                <input asp-for="BaseCurve" class="form-control" />
                <span asp-validation-for="BaseCurve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfUnits" class="control-label">Кількість лінз в упаковці:</label>
                <input asp-for="NumberOfUnits" class="form-control" />
                <span asp-validation-for="NumberOfUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diameter" class="control-label">Діаметр:</label>
                <input asp-for="Diameter" class="form-control" />
                <span asp-validation-for="Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Вартість:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Кількість на складі:</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернення до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
