@{
    ViewData["Title"] = "Eyecare";
}

@using PlusMinus.Core.Models;
@model IEnumerable<Eyecare>;

<div class="shop_panel">
    <form class="shop_left">
        <div class="shop_left_item">
            <h4 class="shop_left_item_title">Фільтри</h4>
        </div>
        <div class="shop_left_item">
            <p class="shop_left_item_title">Ціна</p>

            <label for="">від</label>
            <input type="number" class="shop_price_input" value="0" step="100" min="0" max="100000">

            <label for="">до</label>
            <input type="number" class="shop_price_input" value="100000" step="100" min="0" max="100000">

        </div>
        <div class="shop_left_item">
            <p class="shop_left_item_title">Призначення</p>

            <input type="checkbox">
            <label for="">Розчини</label><br>

            <input type="checkbox">
            <label for="">Каплі</label><br>

        </div>
        <input type="submit" value="Застосувати фільтри" class="filter_submit">
        <input type="submit" value="Скасувати фільтри" class="filter_submit">
    </form>
    <div class="shop_right">
		<div class="shop_search">
			<input type="text" placeholder="Знайти..." class="shop_search_input" id="search-item">
			<input type="submit" value="Пошук" class="shop_search_button" onclick="search()">
		</div>
        <div class="shop_catalog">
            <h4 class="catalog_title">Засоби для догляду</h4>
            <div class="shop_products" id="products">
                @foreach (var item in Model)
                {
                    <div class="shop_product">
                        <a asp-action="EyecareDetails" asp-route-id="@item.ProductId"><img src="@item.Image" alt="" class="shop_product_img"></a>
                        <p class="shop_product_name">@item.Name</p>
                        <b class="shop_product_cost">@item.Price</b>
                        <b>грн</b>
                        @if (item.Amount <= 0)
                        {
                            <b>Нема в наявності</b>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>