@{
    ViewData["Title"] = "Lences";
}

@using PlusMinus.Core.Models;
@model IEnumerable<Lenses>;

<div class="shop_panel">
	<form class="shop_left">
		<div class="shop_left_item">
			<h4 class="shop_left_item_title">Фільтри</h4>
		</div>
		<div class="shop_left_item">
			<p class="shop_left_item_title">Ціна</p>

            <label for="">від</label>
            <input type="number" class="shop_price_input" value="0" step="100" min="0" max="100000">

            <label for="">до</label>
            <input type="number" class="shop_price_input" value="100000" step="100" min="0" max="100000">

		</div>
		<div class="shop_left_item">
			<p class="shop_left_item_title">Діоптрії</p>

			<label for="">від</label>
			<input type="number" class="shop_price_input" value="-20.00" min="-20" max="20" step="0.1">

			<label for="">до</label>
			<input type="number" class="shop_price_input" value="20.00" min="-20" max="20" step="0.1">

		</div>
		<input type="text" placeholder="Знайти..." class="shop_search_input" id="search-item">
		<input type="submit" value="Пошук" class="shop_search_button" onclick="search()">
	</form>
    <div class="shop_right">
        <div class="shop_search">
            <input type="text" placeholder="Знайти..." class="shop_search_input">
            <input type="submit" value="Пошук" class="shop_search_button">
        </div>
        <div class="shop_catalog">
            <h4 class="catalog_title">Контактні лінзи</h4>
            <div class="shop_products" id="products">
                @foreach (var item in Model)
                {
                    <div class="shop_product">
                        <a asp-action="LensesDetails" asp-route-id="@item.ProductId"><img src="@item.Image" alt="" class="shop_product_img"></a>
                        <p class="shop_product_name">@item.Name</p>
                        <label for="" class="shop_product_cost">@item.Price</label>
                        <label for="">грн</label>
                    </div>
                }
            </div>
        </div>
    </div>
</div>