@using PlusMinus.Utility
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PlusMinus</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/home.css" />
	<link rel="stylesheet" href="~/css/shop.css" />
	<link rel="stylesheet" href="~/css/cart.css" />
	
</head>
<body>
    <header>
        <nav class="menu">
            <ul class="left-upper-menu">
				@if (User.IsInRole(Roles.RoleAdmin))
				{
				    <li><a asp-area="Admin" asp-controller="Lenses" asp-action="Index"><img src="/icons/logo.png" height="80"></a></li>
				}
				else
				{
				    <li><a asp-area="Customer" asp-controller="Home" asp-action="Index"><img src="/icons/logo.png" height="80"></a></li>
				}
            </ul>
            <ul class="right-upper-menu">
                <li>
                    <a href="~/">012 345 67 89</a>
                    <a href="~/Customer/Cart"><img src="/icons/cart.png" height="35px"></a>
                    <a href="~/Customer/Home/Profile"><img src="/icons/user.png" height="35px"></a>
                </li>
            </ul>
        </nav>
        <nav class="menu-down">
            <ul>
                @if (User.IsInRole(Roles.RoleAdmin))
                {
                    <li><a href="~/Admin/Lenses/Index">Контактні лінзи</a></li>
                    <li><a href="~/Admin/Accessory/Index">Аксесуари</a></li>
                    <li><a href="~/Admin/Eyecare/Index">Засоби для догляду</a></li>
                    <li><a href="~/Admin/Frame/Index">Оправи</a></li>
                    <li><a href="~/Admin/Glasses/Index">Окуляри</a></li>
                    <li><a href="~/Admin/Order/Index">Замовлення</a></li>
                }
                else
                {
                    <li><a href="~/Customer/Home/GetLenses">Контактні лінзи</a></li>
                    <li><a href="~/Customer/Home/GetGlasses">Окуляри</a></li>
                    <li><a href="~/Customer/Home/GetFrames">Оправи</a></li>
                    <li><a href="~/Customer/Home/GetAccessories">Аксесуари</a></li>
                    <li><a href="~/Customer/Home/GetEyecare">Засоби для догляду</a></li>
                }
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer class="border-top footer text-muted">
		<div class="container">
			<div class="container-left">
				<div class="container-left-up">
					<b>Гаряча лінія</b>
					<p>
						<a href="tel:0800-12-34-56">0800 12 34 56</a>
					</p>
				</div>
				<div class="container-left-down">
					<b>Слідкуйте за нами</b>
					<p>
						<img src="~/img/facebook.png" alt="">
						<img src="~/img/instagram.png" alt="">
						<img src="~/img/youtube.png" alt="">
					</p>
				</div>
			</div>
			<div class="container-middle">
				<b>Допомога</b>
				<p>FAQ</p>
				<p>Як зробити замовлення</p>
				<p>Оптичний блог</p>
			</div>
			<div class="container-right">
				<b>Особистий кабінет</b>
				<p>
					<a href="/Identity/Account/Login">Вхід</a>
				</p>
				<p>
					<a href="/Identity/Account/Register">Реєстрація</a>
				</p>
			</div>
		</div>
	</footer>
	<script src="~/js/Search.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
