<form class="makeOrderForm" method="POST" action="https://www.paypal.com/cgi-bin/webscr">
<div class="order-container">
        <div class="order-container-left">
            <p><b>Персональні дані</b></p>
                <label for="fname">Ім'я*</label><br>
                <input type="text"name="fname" placeholder="Ваше ім'я" required><br>
                <label for="sname">Прізвище*</label><br>
                <input type="text"name="sname" placeholder="Ваше прізвище" required><br>
                <label for="phone">Телефон*</label><br>
                <input type="text"name="phone" placeholder="Ваш телефон" required><br>
                <label for="email">e-mail*</label><br>
                <input type="text"name="email" placeholder="Ваш e-mail" required><br>
        </div>
        <div class="order-container-middle">
            <p><b>Адресні дані</b></p>
            <label for="city">Місто*</label><br>
            <input type="text"name="city" placeholder="Ваше місто" required><br>
            <label for="state">Область*</label><br>
            <input type="text"name="state" placeholder="Ваша область" required><br>
            <label for="index">Поштовий індекс*</label><br>
            <input type="text"name="index" placeholder="Ваш поштовий індекс" required><br>
            <label for="street">Вулиця*</label><br>
            <input type="text"name="street" placeholder="Ваша вулиця" required><br>
            <label for="house">№ дому*</label><br>
            <input type="text"name="house" placeholder="Ваш номер будинку" required><br>
            <label for="deltype">Тип доставки*</label><br>
            <input type="radio"name="deltype" value="NewPost">
                <label for="NewPost">Нова пошта</label><br>
                <input type="radio"name="deltype" value="UkrPost">
                <label for="NewPost">Укрпошта</label><br>
            <label for="department">№ відділення*</label><br>
            <input type="text"name="department" placeholder="Номер найближчого відділення" required><br>
        </div>
        <div class="order-container-right">
            <p><b>Оберіть спосіб оплати</b></p>
            <input type="radio" name="Card" value="Card">
                <label for="Card">Банківською карткою</label><br>
                <input type="radio" name="Card" value="Nal">
                <label for="Nal">Готівкою</label><br>
            <input type="submit" class="btn button-mo" value="Всього" PostBackUrl='https://www.paypal.com/cgi-bin/webscr' runat="server">
        </div>
</div>
</form>