@{
    ViewData["Title"] = "Login";
}

<div class="login-panel">
    <h4><b>Вхід до особистого кабінету</b></h4>
    <form action="" class="login-form">
        <p>E-mail*</p>
        <input type="text" class="login-email" placeholder="Введіть e-mail">
        <p>Пароль*</p>
        <input type="text" class="login-password" placeholder="Введіть пароль"><br>
        <button class="login-enter">Увійти</button>
    </form>
    <p>Або продовжити за допомогою</p>
    <button class="login-google">Google</button>
    <p>Немає профілю? <a href="#" class="login-reg">Зареєструйся</a></p>
</div>