@{
    ViewData["Title"] = "Registration";
}

<div class="reg-panel">
    <h4><b>Створіть профіль</b></h4>
    <form action="" class="reg-form">
        <p class="reg-descr">Заповніть поля нижче<br>для створення свого профіля</p>
        <p>Ваше ім'я*</p>
        <input type="text" class="reg-input" placeholder="Ім'я">
        <p>Ваше прізвище*</p>
        <input type="text" class="reg-input" placeholder="Прізвище">
        <p>Номер телефона*</p>
        <input type="text" class="reg-input" placeholder="Телефон">
        <p>E-mail*</p>
        <input type="text" class="reg-input" placeholder="E-mail">
        <p>Пароль*</p>
        <input type="text" class="reg-input" placeholder="Пароль">
        <button class="reg-button">Зареєструватися</button>
    </form>
</div>